[submodule "tools/pytools"]
	path = tools/pytools
	url = git@github.com:StanHash/FE-PyTools.git
[submodule "tools/ea"]
	path = tools/ea
	url = git@github.com:StanHash/EventAssembler.git
[submodule "tools/fe8"]
	path = tools/fe8
	url = git@github.com:MokhaLeee/fireemblem8u.git
	branch = mokha_dev
